.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 10rem;
    height: 10rem;
    border-radius: 9999px; /* rounded-full */
    object-fit: cover;
    object-position: center;
}

.carousel-title {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #9ca3af; /* text-gray-400 */
}

@media (min-width: 1024px) {
    .carousel-image {
        height: 14rem;
        width: 14rem;
    }
}